<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86569962696-t8f3aivgiq5gttqp3i05k0i83t33ua1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86569962696-t8f3aivgiq5gttqp3i05k0i83t33ua1r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86569962696-m1pcddnbcm8kmd3edek62ag52lgql4qg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhL4komQhixqoOV9WIojffw5bsRdTjXY</string>
	<key>GCM_SENDER_ID</key>
	<string>86569962696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosette.rosette</string>
	<key>PROJECT_ID</key>
	<string>rosette-8a9d6</string>
	<key>STORAGE_BUCKET</key>
	<string>rosette-8a9d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86569962696:ios:e8d6427605152731d769fd</string>
</dict>
</plist>